# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Lambda build files
lambda/**/*.js
!lambda/**/index.js
lambda/**/node_modules
lambda/.serverless
lambda/.aws-sam
